
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


Link{
text-decoration: none;
color: black;
}

.shareIconBody{
  text-align: center;
}

.shareIconsButton{
  
  text-align: center;
}

.share{
  border-radius: 4px;
}




.boxTitle{
  float: right;
}

.bookmark-button{
  background-color: inherit;
  border-color: lightblue;
}

.loadingString{
text-align: center;
}